@import "tailwindcss";
@plugin "daisyui";

.btn-classic {
  @apply bg-rose-400 hover:bg-rose-500 rounded-2xl text-white font-semibold px-5 py-2   transition-all duration-300 shadow-md hover:shadow-lg;
}

.btn-classic-outline {
  @apply bg-transparent border border-rose-500
   hover:bg-rose-500 rounded-2xl text-rose-600 hover:text-white font-semibold px-5 py-2  transition-all duration-300 shadow-md hover:shadow-lg;
}
.active {
  @apply text-rose-600;
}
